body {
    margin: 0;
    overflow-x: hidden;
    position:static;
    background: #ffffff;
    font-family: "Josefin Sans", sans-serif;
}

nav {
    color:#FFFDD0;
    z-index: 2;
    position: relative;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #FFFDD0;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.josefin-sans-test {
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.scroll-text {
    color: #FFFDD0;
    z-index: 2;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.background-text {
    color: #FFFDD0;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -23%);
    text-align: center;
}

.background-text h1 {
    font-size: 6em;
    margin: 1;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.title {
    color: #FFFDD0;
    z-index: 2;
    position: absolute;
    font-size: 2rem;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -25%);
    text-align: center;
}